/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
:root {
  --black: black;
  --white: white;
  --light_black: rgb(0, 0, 0, 0.3);
}
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h1 {
  z-index: 1;
  margin: 0 2rem;
  font-size: 3rem;
}

p {
}
@media (min-width: 40em) {
  h1 {
    font-size: 7rem;
  }
}

/* Elements
--------------------------------------------- */
dl {
}

figure {
}

table {
}

/* Links
--------------------------------------------- */
a {
  text-decoration: none;
  color: var(--white);
  font-size: 1rem;
}

a:visited {
  color: var(--white);
}

a:hover {
  /* transform: scale(1.2); */
}

a:focus {
}

a:active {
}

/* homepage */

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Header
--------------------------------------------- */
nav {
  display: flex;
  position: absolute;
  right: 0;
  left: 0;
  justify-content: space-between;
  z-index: 999;
  align-items: center;
  padding: 0.5rem;
}

.twin-tower {
  height: 3.4rem;
  width: 4rem;
  /* margin: 0; */
}
ul {
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
  gap: 1rem;
  /* width: 90%; */
}
li {
  list-style: none;
}

@media (min-width: 55em) {
  ul {
    padding-right: 2rem;
    gap: 4rem;
  }

  nav a {
    font-size: 1.3rem;
    transition: all ease-in-out 0.2s;
  }
  nav a:hover {
    /* font-size: 2rem; */
    font-size: 2rem;
    transition: all 0.5s ease-in-out;
  }
}
/* Main
--------------------------------------------- */
/* Homepage */

.video-with-title {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100vh;
}

video {
  position: absolute;
  width: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  /* filter: opacity(.9); */
  overflow: hidden;
  height: 100vh;
}

.video-with-title::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--light_black);
}

.homepage {
  background-color: var(--black);
  padding: 2rem;
  position: relative;
}

.introduction {
  font-size: 2rem;
}

blockquote {
  padding: 1rem 0;
  margin: 0;
}

.content-right,
.content-left {
  margin: 2rem 0;
}

.content {
  margin: 2rem 0;
}

.night-market-img {
  height: 20rem;
  border-radius: 20px;
  object-fit: cover;
  object-position: left;
}

.building-img {
  height: 20rem;
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
  object-position: bottom;
}

.up-arrow {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  /* background-color: var(--white); */
}

.up-arrow svg {
  width: 2rem;
  height: 2rem;
  fill: white;
}

/* Homepage media */
@media (min-width: 55em) {
  .video-with-title {
    justify-content: center;
  }

  .homepage-wrapper {
    max-width: 60rem;
    margin: 0 auto;
    padding: 1rem;
    /* padding-top: 7rem; */
  }

  .introduction {
    text-align: center;
    font-size: 3rem;
  }

  .homepage-wrapper p {
    font-size: 1.2rem;
  }

  .topic {
    flex-direction: column;
    padding-top: 2rem;
  }

  /* double check before applying to culture */
  .content-right a,
  .content-left {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .content-right a h3,
  .content-left a h3 {
    font-size: 2rem;
  }

  .content-left {
    flex-direction: row-reverse;
  }

  .night-market-img,
  .building-img {
    width: 20rem;
    height: 25rem;
  }

  .topic div p {
    width: 22rem;
    font-size: 1.3rem;
  }

  .up-arrow {
    bottom: -2em;
  }
  .up-arrow svg {
    width: 3.5rem;
    height: 3.5rem;
  }
}

/* Food */
.hero-picture {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: var(--light_black);
}

.hero-picture h1 {
  align-content: center;
}

.hero-picture::after {
  content: "";
  position: fixed;
  top: 0;
  height: 100vh;
  max-width: 100vw;
  left: 0;
  right: 0;
  z-index: -1;
  background: url("../photo/food/night-life.jpg");
  background-size: cover;
  background-position: 10%;
}

.popular {
  font-size: 2rem;
}

/* why do i need this? help */
.list-of-food {
  margin: 2rem 0;
  padding-bottom: 1rem;
  position: relative;
}

.list-of-food img {
  height: 10rem;
  width: 20rem;
  border-radius: 10px;
  object-fit: cover;
}

/* food media */
@media (min-width: 35em) {
  .popular {
    text-align: center;
    font-size: 3rem;
  }

  .list-of-food {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    align-content: center;
    /* justify-content: center; */
    margin: 2rem;
  }

  /* .list-of-food figure:nth-of-type(odd) {
    grid-column: 1/3;
  } */

  .list-of-food figure {
    justify-self: center;
  }

  .list-of-food img {
    height: 14rem;
    width: 22rem;
  }
}

/* culture */
.culture-hero-picture::after {
  background: url("../photo/building/kuala-lumpur.jpg");
  background-size: cover;
  background-position: 30% top;
}

/* Footer
--------------------------------------------- */
footer {
  background-color: var(--black);
}

footer p {
  margin: 0;
  text-align: center;
  font-size: 0.8rem;
}

@media (min-width: 40em) {

  footer p {
    font-size: 1.3rem;
    padding: 1rem;
  }
}
